<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link href={{ url_for('static', filename='favicon.ico') }} rel="icon" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href={{ url_for('static', filename='apple-icon-57x57.png') }} />
    <link rel="apple-touch-icon" sizes="72x72" href={{ url_for('static', filename='apple-icon-72x72.png') }} />
    <link rel="apple-touch-icon" sizes="114x114" href={{ url_for('static', filename='apple-icon-114x114.png') }} />
    <link rel="apple-touch-icon" sizes="144x144" href={{ url_for('static', filename='apple-icon-144x144.png') }} />
    <link rel="apple-touch-icon" sizes="150x150" href={{ url_for('static', filename='apple-icon-150x150.png') }} /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>
      IFS-Fractal-Generator
    </title>
    <style>

      * {
        font-family: sans-serif;
        font-size: 16pt;
      }

      h1 {
        font-size: 35pt;
      }
      h2 {
        font-size: 30pt;
        margin: 15px 0px 15px;
      }

      .hide-overflow{
        overflow: hidden;
      }

      .launch-generator {
        border: 1px solid black;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="jumbotron hide-overflow" style="margin-top:10px;">
            <h1 class="text-center">IFS Fractal Generator</h1>
          </div>
          <p class="text-center">Click a button.</p>
          <button type="button" class="btn launch-generator center-block"
                  onclick="location.href='/generator';">
            <h2 class="text-center" id="launch">Launch Generator</h2>
          </button>
        </div>
        <div class="col-md-1">
        </div>
      </div>

<br><bR><bR>
      <br>

    </div>
    <!-- <div class="container-fluid" id="footer">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <img src={{ url_for('static', filename='logo.png') }}
               style="width:100px;padding-top:45px;"/>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <h5>More Information</h5>
          <ul>
            <li>
              <a href="https://github.com/francisp336/play-quadegories" target="_blank">
                GitHub Repository
              </a>
            </li>
            <li>
              <a href="http://www.lulu.com/shop/brook-zelcer/quadegories/paperback/product-23884928.html" target="_blank">
                Buy the Book!
              </a>
            </li>
            <li>
              <a href="http://zelcer.tk">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-top:30px;">
          <p class="text-center" style="font-size:10px">&copy; 2019</p>
        </div>
      </div>
    </div>-->
  </body>
</html>
