<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <script>
    function timeConverter(UNIX_timestamp){
      var a = new Date(UNIX_timestamp * 1000);
      var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      var year = a.getFullYear();
      var month = months[a.getMonth()];
      var date = a.getDate();
      var hour = a.getHours();
      var min = a.getMinutes();
      var sec = a.getSeconds();
      var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
      return time;
    }


    </script>
    <title>
      IFS-Fractal-Generator
    </title>
    <style>

      * {
        font-family: monospace;
        font-size: 12pt;
      }

      table, tr, td {
        border:1px solid black;
      }
      td {
        padding: 10px;
      }

    </style>
  </head>
  <body>
    {% for name in pictureDictionary %}
    <p><strong>{{ name[:-11] }}</strong> <a href={{ generatorLinkDictionary[name] }}>Generate</a> <a href={{ pictureDictionary[name] }}>View</a> <a href={{ pictureDictionary[name] }} download>Download</a><bR>
      Created: <script>document.write(timeConverter({{ name[-10:] }}))</script></p><br>
    <img src={{ pictureDictionary[name] }} style="max-width:85%"/><br><br>
    <hr>
    {% endfor %}
  </body>



</html>
